<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="http://localhost:4000">Home</a>
        <a href="http://localhost:4000/musicians">Musicians</a>
        <a href="http://localhost:4000/songs">Songs</a>
    </nav>
    <h1>My Homepage</h1>
    <footer>
        <h3>Please support artists who hold slugs</h3>
    </footer>
</body>
</html>